<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <link href='http://fonts.googleapis.com/css?family=Radley:400,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=News+Cycle:400,700' rel='stylesheet' type='text/css'>

    <title><%= current_page.data.title || "Carolann Bonner" %></title>

    <%= stylesheet_link_tag "all" %>
  </head>

  <body class="<%= page_classes %>"> 
    <header class="global">
      <nav class="primary" id="cl-effect-3">
        <ul class="inline caps small-txt">
          <li>
            <%= magic_link_to 'Home', '../index.html'%>
          </li>
          <li>
            <%= magic_link_to "Projects", "../work.html"%>
          </li>
          <li>
            <%= magic_link_to "About Me", "../about.html"%>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <section>
        <%= yield %>
      </section>
    </main>

    <footer class="global">
      <section>
        <ul class="inline caps small-txt">
          <li>
            <% link_to 'http://github.com/carolanncan' do %>
              <i class='fa fa-github'></i>
            <% end %>
          </li>

          <li>
            <% link_to 'http://twitter.com/carolanncan' do %>
              <i class="fa fa-twitter"></i>
            <% end %>
          </li>
          <li>
            <% link_to 'http://dribbble.com/carolanncan' do %>
              <i class='fa fa-dribbble'></i>
            <% end %>
          </li>
        </ul>
      </section>
    </footer>

    <!-- Google Analytics -->
    <script>
      // Activate the Google page tracking code
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();  

      // Track when a project is opened
      $(document).bind("projectLoadStart", function(e, pid, href){
        _gaq.push(['_trackPageview','/project/'+href[1]]);
      });
    </script>

  </body>
</html>
