<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <%= favicon_tag 'images/favicon.png' %>
    <link href='//fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>
    <!-- <script type="text/javascript"> -->
    <!--     analytics.load("bBbyS6PQFBo0E49VhVcBk46pPGxJXj5q"); -->
    <!--     analytics.page() { }(); -->
    <!-- </script> -->

    <script type="text/javascript">
      function load() {
        var d = document.getElementById("body");
        d.className = d.className + " animate";
      }
      window.onload = load;
    </script>

    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
    <title><%= current_page.data.title || "Carolann" %></title>
    <%= stylesheet_link_tag "all" %>
  </head>
  <body id="body" class="<%= page_classes %>">
    <main class="wrap"><%= yield %></main>
    <%= partial "partials/nav" %>
  </body>
</html>
