---
title: Home
layout: "landing-pages"
---

<ul class="link-list">
  <% data.projects.project.each_with_index do |project, index| %>
    <li>
      <% link_to "/projects/" + project.link do %>
        <div class="project-link green-gray">
          <div class="project-thumbnail" style="background-image: url('/images/thumbnails/<%= project.image %>'); background-size:<%= project.backgroundSize %>">
            <p class="project-name"><%= project.title %></p>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

<ul class="link-list">
  <% data.projects.designed.each_with_index do |designed, index| %>
    <li>
      <% link_to designed.link, :target => "_blank" do %>
        <div class="project-link brown-gray">
          <div class="project-thumbnail" style="background-image: url('/images/thumbnails/<%= designed.image %>'); background-size:<%= designed.backgroundSize %>;">
            <p class="project-name">
              <%= designed.title %>
              <svg class="new-window" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                <path fill="white" d="M18.8,13.7c-0.2,0-0.4,0.2-0.4,0.4v6.2H3.6V5.8h6.3c0.2,0,0.4-0.2,0.4-0.4S10.1,5,9.9,5H3.2   C3,5,2.8,5.2,2.8,5.4v15.3c0,0.2,0.2,0.4,0.4,0.4h15.6c0.2,0,0.4-0.2,0.4-0.4v-6.6C19.2,13.9,19.1,13.7,18.8,13.7z"></path>
                <path fill="white" d="M20.8,2.8h-6.7c-0.2,0-0.4,0.2-0.4,0.4s0.2,0.4,0.4,0.4h5.7L8.3,15.1c-0.2,0.2-0.2,0.4,0,0.6   c0.1,0.1,0.2,0.1,0.3,0.1s0.2,0,0.3-0.1L20.4,4.3V10c0,0.2,0.2,0.4,0.4,0.4s0.4-0.2,0.4-0.4V3.3C21.2,3,21,2.8,20.8,2.8z"></path>
              </svg>
            </p>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

<ul class="link-list">
  <% data.projects.sideProject.each_with_index do |sideProject, index| %>
    <li>
      <% link_to sideProject.link do %>
        <div class="project-link green-gray">
          <div class="project-thumbnail" style="background-image: url('/images/thumbnails/<%= sideProject.image %>'); background-size:<%= sideProject.backgroundSize %>">
            <p class="project-name"><%= sideProject.title %></p>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
