---
title: Writing & Speaking
layout: "pages"
---

<main class="wrap">
<header>
  <h1 class="page-title">Writing & Speaking</h1>
</header>

<ul class="link-list text-wrap">
  <% data.writing.writing.each_with_index do |writing, index| %>
    <li>
      <% link_to writing.link do %>
        <h4><%= writing.title %></h4>
      <% end %>
      <p><%= writing.subtitle %></p>
    </li>
  <% end %>
</ul>

<ul class="link-list text-wrap">
  <% data.speaking.speaking.each_with_index do |speaking, index| %>
    <li>
      <% link_to speaking.link do %>
        <h4><%= speaking.title %></h4>
      <% end %>
      <p><%= speaking.subtitle %></p>
      <h6>Presented at</h6>
      <p><%= speaking.where %></p>
      <iframe src="<%= speaking.iframe %>" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="margin-bottom:1em;" allowfullscreen></iframe>
    </li>
  <% end %>
</ul>
</main>
